.outer {
  position: relative;
  z-index: 1000;
  a {
    color: white !important;
  }
  a:hover {
    border-bottom: 2.5px solid white;
    margin-bottom: -2.5px;
  }
  //transition: top 0.5s;
}

//.outer:hover {
//  top: 0;
//}

.logo {
  font-weight: bold;
}
