.outer {
  margin-top: 120px;
  margin-left: 20px;
  position: relative;
  z-index: 1000;
}

.bgImg {
  height: 1000px;
  width: 80vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background-image 1s;
  position: fixed;
  top: 20vh;
  left: 10vw;
}

.prefix {
  color: azure;
  font-size: 25px;
  display: none;
}

.RTE {
  margin-left: 4px;
  display: block;
  color: azure;
  font-size: 25px;
}

.TextLoop {
  font-size: 80px;
}

.a1 {
  color: orange;
}

.a2 {
  color: orange;
}

.a3 {
  color: orange;
}
