.outer {
  margin-top: 120px;
}

.prefix {
  display: block;
  color: azure;
  font-size: 25px;
  margin-left: 5px;
}

.TextLoop {
  font-size: 80px;
}

.a1 {
  color: orange;
}

.a2 {
  color: orange;
}

.a3 {
  color: orange;
}
